<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u>STUDENT DETAILS</u></h1>
    <div>
        {% if student %}
        <table>
            <tr>
            <th>NAME</th>
            <th>AGE</th>
            </tr>
            {% for s in student %}
            <tr>
                <td>{{s.sname}}</td>
                <td>{{s.age}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>please add some data </h1>
        {% endif %}
    </div>
    
</body>
</html>