<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
              <a class="navbar-brand" href="{% url 'app1:list' %}">Schools</a>
              <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
              <a class="nav-item nav-link" href="{% url 'app1:list' %}">Create School</a>
            </div>
          </nav>
    </div>
    
    <div class="container">
        {% block body_block %}
    
        {% endblock body_block %}
    </div>
    
</body>
</html>