<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Users</h1>
    {% if users %}
    <ol>
        {% for person in users %}
        <li>userinfo</li>
        <ul>
            <li>first name:{{ person.first_name }}</li>
            <li>last name:{{ person.last_name }}</li>
            <li>email:{{ person.email }}</li>
        </ul>
        {% endfor %}
    </ol>
    {% endif %}
</body>
</html>